
@media screen and (max-width: 767px) {
  .container {
    width: 100vw; 
  }

  header {
    height: calc(715 / 640 * 100vw);/*715;*/
  }
  header{
      height: calc(715 / 640 * 100vw);/*715;*/
  }
  .header-title .span::after {
    content: "";
    width: 90%;
    height: calc(5 / 640 * 100vw);
    background-color: #67c2c5;
    display: block;
    position: absolute;
    right: 5%
  }

  .header-wrap {
    background-image: url("../img/lpmainback.png");
    background-size: 100%;
    position: relative;
    background-position: 0px calc(-40 / 640 * 100vw);
    width: calc(640 / 640 * 100vw);
  }

  .header-main {
    width: calc(301 / 640 * 100vw);
    position: absolute;
  }

  .name {
    position: absolute; 
    top: calc(335.5 / 640 * 100vw);
    left: calc(398.5 / 640 * 100vw);/*398.5px*/
    color: black;
    width: calc(76 / 640 * 100vw);
  }

  .header-part {
    text-align: center;
    position: absolute;
    left: calc(20 / 640 * 100vw);/*20px*/
    top: calc(504 / 640 * 100vw);
    width: calc(393 / 640 * 100vw);
  }

  .header-fhoto {
    position: absolute;
    top: calc(532 / 640 * 100vw);
    left: calc(358 / 640 * 100vw);/*358px*/
    width: calc(297 / 640 * 100vw);/* 308px*/
    z-index: 100;
  }

  /*intro*/
  .intro {
    background-color: #67c2c5;
    width:  calc(640 / 640 * 100vw);/*640 px */
    height: calc(3685 / 640 * 100vw);/*3685px;*/
    position: relative;
  }

  .intro-first-title {
    width: calc(378 / 640 * 100vw);
    /* 378px */
    position: absolute;
    top: calc(32 /  640 * 100vw);/*32px*/
    left: calc(28 / 640 * 100vw);/*28px*/
  }

  .cv {
    width: calc(630 / 640 * 100vw);/*630*/
    top: calc(80 /  640 * 100vw);/*80px*/
    left: calc(-20 / 640 * 100vw);
    position: absolute;
    z-index: 10;
  }

  .cv_a {
    width: calc(577 / 640 * 100vw);/*577px*/
    top: calc(258 /  640 * 100vw);/*258px;*/
    left: calc(29 / 640 * 100vw);/*29px*/
    position: absolute;

  }

  .cv-text {
    width: calc(324 / 640 * 100vw);
    /*324px*/
    top: calc(315 /  640 * 100vw);/*315px;*/
    position: relative;
    left: calc(279 / 640 * 100vw);/*279px*/
  }

  .intro-first-grid {
    position: absolute;
    width: calc(541 / 640 * 100vw);
    /*541px*/
    top: calc(412 /  640 * 100vw);/*412px;*/
    left: calc(51 / 640 * 100vw);/*51px;*/
  }

  .intro-first-bar {
    position: absolute;
    width: calc(536 / 640 * 100vw);
    /*536px*/
    top: calc(388 /  640 * 100vw);/*388px;*/
    left: calc(69 / 640 * 100vw);/*69px*/;
    z-index: 5;
  }

  .intro-first-sub-title {
    width: calc(264 / 640 * 100vw);
    /*264px*/
    position: absolute;
    top: calc(389 /  640 * 100vw);/*389px;*/
    left: calc(81 / 640 * 100vw);/*81px;*/
    z-index: 10;
  }

  .border {
    width: calc(658 / 640 * 100vw);/*658px*/
    position: absolute;
    top: calc(874 /  640 * 100vw);/*886px;*/
    left: calc(-4 / 640 * 100vw);/*-4px*/
    overflow: hidden;
  }

  .intro-first-sub-com1 {
    width: calc(251 / 640 * 100vw);
    /*251px*/
    position: absolute;
    top: calc(415 /  640 * 100vw);/*415px;*/
    left: calc(352 / 640 * 100vw);/*352px*/
    z-index: 10;
  }

  .intro-first-sub-com2 {
    width: calc(398 / 640 * 100vw);/*398px*/
    position: absolute;
    left: calc(31 / 640 * 100vw);/*31px*/
    top: calc(482 /  640 * 100vw);/*482px;*/
  }

  .intro-first-sub-com3 {
    width: calc(486 /  640 * 100vw);/*486px*/
    position: absolute;
    left: calc(80 / 640 * 100vw);/*80px*/
    top: calc(552 /  640 * 100vw);/*552px;*/
  }

  .intro-first-sub-img {
    position: absolute;
    width: calc(281 / 640 * 100vw);
    /*281px*/
    height: calc(289 /  640 * 100vw);/*289px;*/
    top: calc(607 /  640 * 100vw);/*607px;*/
    left: calc(0.31 / 640 * 100vw);/*0.31px;*/
    transform: scaleX(-1);
    overflow: hidden;

  }

  .intro-first-sub-img img {
    width: calc(480 / 640 * 100vw);
    /*480px*/
    overflow: hidden;
    transform: translate(calc(-90 / 640 * 100vw), calc(-95 / 640 * 100vw));/*-90px, -95px*/
  }

  .intro-first-sub-text1 {
    width: calc(452 / 640 * 100vw);/*452px*/
    position: absolute;
    left: calc(158 / 640 * 100vw); /*158px*/
    top: calc(620 / 640 * 100vw);/*620px;*/
  }

  .intro-first-sub-text2 {
    width: calc(246 / 640 * 100vw);
    /*246px*/
    position: absolute;
    left: calc(266 / 640 * 100vw);/*266px*/
    top: calc(733 / 640 * 100vw);/*733px;*/
  }

  .intro-first-sub-text3 {
    width: calc(105 / 640 * 100vw);/*105px*/
    position: absolute;
    left: calc(521 / 640 * 100vw);/*521px*/
    top: calc(714 / 640 * 100vw);/*714px;*/
  }

  .intro-first-sub-text4 {
    width: calc(343 / 640 * 100vw);/*343px*/
    position: absolute;
    left: calc(256 / 640 * 100vw);/*256px*/
    top: calc(840 / 640 * 100vw);/*840px;*/
  }

  .intro-second-title {
    position: absolute;
    top: calc(943 / 640 * 100vw);/*943px;*/
    left: calc(29 / 640 * 100vw);/*29px*/
    width: calc(584 / 640 * 100vw);/*584px*/
  }

  .intro-second-text1 {
    position: absolute;
    top: calc(1038 / 640 * 100vw);/*1038px;*/
    left: calc(29 / 640 * 100vw);/*29px*/
    width: calc(557 / 640 * 100vw);/*557px*/
  }

  .intro-second-text2 {
    position: absolute;
    top: calc(1237 / 640 * 100vw);/*1237px;*/
    left: calc(29 / 640 * 100vw);/*29px*/
    width: calc(557 / 640 * 100vw);/*557px*/
  }

  .intro-second-text3 {
    position: absolute;
    top: calc(1405 / 640 * 100vw);/*1405px;*/
    left: calc(29 / 640 * 100vw);/*29px*/
    width: calc(557 / 640 * 100vw);/*557px*/
  }

  .intro-second-detail {
    position: absolute;
    top: calc(1544 / 640 * 100vw);/*1544px;*/
    left: calc(29 / 640 * 100vw);/*29px*/
  }
.intro-second-detail img{
    width: 95%;
}

  .intro-third-bg {
    width: calc(580 / 640 * 100vw);/*580px*/
    position: absolute;
    top: calc(1947 / 640 * 100vw);/*1947px;*/
    left: calc(29 / 640 * 100vw);/*29px*/
  }

  .intro-third-title1 {
    width: calc(483 / 640 * 100vw);/*483px  */
    position: absolute;
    top: calc(1975 / 640 * 100vw);/*1975px;*/
    left: calc(50 / 640 * 100vw);/*50px*/
  }

  .intro-third-title2 {
    width: calc(442 / 640 * 100vw);/*442px*/
    position: absolute;
    top: calc(2021 / 640 * 100vw);/*2021px;*/
    left: calc(47 / 640 * 100vw);/*47px*/
  }

  .intro-third-text1 {
    width: calc(272 / 640 * 100vw);/*272px*/
    position: absolute;
    top: calc(2104 / 640 * 100vw);/*2104px;*/
    left: calc(42 / 640 * 100vw);/*42px*/
  }

  .intro-third-text2 {
    width: calc(212 / 640 * 100vw);/*212px*/
    position: absolute;
    top: calc(2185 / 640 * 100vw);/*2185px;*/
    left: calc(42/ 640 * 100vw);/*42px*/
  }

  .cv2 {
    width: calc(340 / 640 * 100vw);/*340px*/
    position: absolute;
    top: calc(2270 / 640 * 100vw);/*2270px;*/
    left: calc(46/ 640 * 100vw);/*46px*/

  }

  .cv2 {
    width: calc(340 / 640 * 100vw);/*340px*/;
    top: calc(2270 / 640 * 100vw);/*2270px;*/
    left: calc(47/ 640 * 100vw);/*47px;*/
    position: absolute;
  }

  .cv-text2 {
    width: calc(291 / 640 * 100vw);/*291px*/
    position: absolute;
    top: calc(2351 / 640 * 100vw);/*2351px;*/
    left: calc(47/ 640 * 100vw);/*47px;*/
  }

  .intro-forth-bg {
    height: 499px;
    position: absolute;
    top: calc(2445 / 640 * 100vw);/*2445px;*/
    left: calc(29 / 640 * 100vw);/*29px*/
    overflow: hidden;
  }

  .intro-forth-bg img {
    object-fit: cover;
    height: calc(499 / 640 * 100vw);/*499px;*/
    width: calc(580 / 640 * 100vw);/*580px*/
    transform: translate(0, 3px);
  }

  .intro-forth-title1 {
    width: calc(495 / 640 * 100vw);/*495px*/;
    position: absolute;
    top: calc(2465 / 640 * 100vw);/*2465px;*/
    left:  calc(85/ 640 * 100vw);/*85px*/
    z-index: 100;
  }

  .intro-forth-title-border {
    width: calc(512 / 640 * 100vw);/*512px*/
    position: absolute;
    top: calc(2471 / 640 * 100vw);/*2479px;*/
    left:  calc(78/ 640 * 100vw);/*78px*/
  }

  .intro-forth-title2 {
    width: calc(317 / 640 * 100vw);/*317px*/
    position: absolute;
    top: calc(2500 / 640 * 100vw);/*2500px;*/
    left:  calc(267/ 640 * 100vw);/*267px*/
  }

  .intro-forth-title3 {
    width: calc(367 / 640 * 100vw);/*367px*/
    position: absolute;
    top: calc(2551 / 640 * 100vw);/*2551px;*/
    left: calc(218/ 640 * 100vw);/*218px*/
  }

  .intro-forth-title4 {
    width: calc(108 / 640 * 100vw);/*108px*/
    position: absolute;
    top: calc(2600 / 640 * 100vw);/*2600px;*/
    left: calc(475 / 640 * 100vw);/*475px*/
  }

  .intro-forth-title5 {
    width: calc(379 / 640 * 100vw);/*379px*/
    position: absolute;
    top: calc(2620 / 640 * 100vw);/*2620px;*/
    left: calc(199/ 640 * 100vw);/*199px*/
  }

  .intro-forth-title6 {
    width: calc(336 / 640 * 100vw);/*336px*/
    position: absolute;
    top: calc(2693 / 640 * 100vw);/*2693px;*/
    left: calc(244 / 640 * 100vw);/*244px*/
  }

  .intro-forth-title7 {
    width: calc(290 / 640 * 100vw);/*290px*/
    position: absolute;
    top: calc(2776 / 640 * 100vw);/*2776px;*/
    left: calc(291 / 640 * 100vw);/*291px*/;
  }

  .intro-forth-title8 {
    width: calc(356 / 640 * 100vw);/*356px*/;
    position: absolute;
    top: calc(2861 / 640 * 100vw);/*2861px;*/
    left: calc(227 / 640 * 100vw);/*227px*/;
  }

  .intro-fifth-grid {
    width: calc(580 / 640 * 100vw);/*580px*/
    position: absolute;
    top: calc(2968 / 640 * 100vw);/*2968px;*/
    left: calc(29 / 640 * 100vw);/*29px*/
  }

  .intro-fifth-title {
    width: calc(476 / 640 * 100vw);/*476px*/;
    position: absolute;
    top: calc(3002 / 640 * 100vw);/*3002px;*/
    left: calc(82 / 640 * 100vw);/*82px*/;
  }

  .intro-fifth-text1 {
    width: calc(451 / 640 * 100vw);/*451px*/;
    position: absolute;
    top: calc(3058 / 640 * 100vw);/*3058px;*/
    left: calc(95 / 640 * 100vw);/*95px*/;
  }

  .intro-fifth-text2 {
    width: calc(242 / 640 * 100vw);/*242px*/
    position: absolute;
    top: calc(3191 / 640 * 100vw);/*3191px;*/
    left: calc(199/ 640 * 100vw);/*199px*/;
  }

  .intro-fifth-text3 {
    width: calc(510 / 640 * 100vw);/*510px*/
    position: absolute;
    top: calc(3257 / 640 * 100vw);/*3257px;*/
    left: calc(66 / 640 * 100vw);/*66px;*/
  }

  .cv3 {
    width:  calc(636 / 640 * 100vw);/*636px*/
    top: calc(3393 / 640 * 100vw);/*3393px;*/
    left: calc(-20 / 640 * 100vw);/*-20px;*/
    position: absolute;
    z-index: 10;
  }

  .cv_a3 {
    width: calc(581 / 640 * 100vw);;/*581px*/;
    top: calc(3572 / 640 * 100vw);/*3572px;*/
    left: calc(31 / 640 * 100vw);/*31px;*/
    position: absolute;
  }

  .cv-text3 {
    width: calc(509 / 640 * 100vw);/*509px*/
    position: absolute;
    top: calc(3637 / 640 * 100vw);/*3637px;*/
    left: calc(92 / 640 * 100vw);/*92px*/;
  }

  /*notify*/
  .notify {
    background-color: #f0dec8;
    height: calc(1654 / 640 * 100vw);/*1654px;*/
    position: relative;
  }

  .notify-bg {
    top: calc(1106 / 640 * 100vw);/*1106px;*/
    left: calc(-0.5 / 640 * 100vw);/*-0.5px;*/
    height: calc(585 / 640 * 100vw);/*585px;*/
    position: absolute;
    overflow: hidden;
  }

  .notify-bg img {
    height: calc(548 / 640 * 100vw);/*548px;*/
    transform: scale(1.2) translate(calc(30 / 640 * 100vw), calc(80 / 640 * 100vw));/*scale(1.2) translate(30px, 80px);*/
    object-fit: cover;
    /* width: calc(390 / 640 * 100vw); */
  }
  .notify-yellow1 {
    width: calc(122 / 640 * 100vw);/*122px;*/
    position: absolute;
    top: calc(212 / 640 * 100vw);/*212px*/
    left: calc(37 / 640 * 100vw);/*37px;*/
  }

  .notify-yellow2 {
    width: calc(73 / 640 * 100vw);/*73px;*/
    position: absolute;
    top: calc(212 / 640 * 100vw)/*212px*/;
    left: calc(186 / 640 * 100vw)/*186px;*/
  }

  .notify-title1 {
    width: calc(557 / 640 * 100vw);/*557px;*/
    position: absolute;
    top: calc(44 / 640 * 100vw);/*44px;*/
    left:calc(39 / 640 * 100vw);/*39px*/
    z-index: 10;
  }

  .notify-title2 {
    width: calc(420 / 640 * 100vw);/*420px*/
    position: absolute;
    top: calc(101 / 640 * 100vw);/*101px;*/
    left: calc(40 / 640 * 100vw);/*40px*/
  }

  .notify-img {
    width: calc(171 / 640 * 100vw);/*171px*/
    position: absolute;
    top: calc(98 / 640 * 100vw);/*98px;*/
    left: calc(458 / 640 * 100vw);/*458px*/
    z-index: 5;
  }

  .notify-title8 {
    z-index: 5;
    width: calc(214 / 640 * 100vw);/*214px*/
    position: absolute;
    top: calc(271 / 640 * 100vw);/*271px;*/
    left: calc(42/ 640 * 100vw);/*42px*/
  }

  .notify-title9 {
    z-index: 5;
    width: calc(553 / 640 * 100vw);/*553px*/
    position: absolute;
    top: calc(302 / 640 * 100vw);/*302px;*/
    left: calc(42/ 640 * 100vw);/*42px*/
  }

  .notify-title4 {
    width: calc(362 / 640 * 100vw);/*362px*/
    position: absolute;
    top: calc(380 / 640 * 100vw);/*380px;*/
    left: calc(134 / 640 * 100vw);/*134px*/
  }

  .notify-title5 {
    width: calc(581 / 640 * 100vw);/*581px*/
    position: absolute;
    top: calc(419 / 640 * 100vw);/*419px;*/
    left: calc(29 / 640 * 100vw);/*29px*/
  }

  .notify-border1 {
    width: calc(545 / 640 * 100vw);/*545px*/
    position: absolute;
    top: calc(237 / 640 * 100vw);/*237px;*/
    left: calc(42/ 640 * 100vw);/*42px*/
  }

  .notify-grid {
    width: calc(583 / 640 * 100vw);/*583px*/
    position: absolute;
    top: calc(33 / 640 * 100vw);/*33px;*/
    left:calc(27 / 640 * 100vw);/*27px*/;
  }

  .notify-grid2 {
    width: calc(583 / 640 * 100vw);/*583px*/
    position: absolute;
    top: calc(33 / 640 * 100vw);/*33px;*/
    left:calc(27 / 640 * 100vw);/*27px*/;
  }

  .notify-sub1 {
    width: calc(127 / 640 * 100vw);/*127px*/
    position: absolute;
    top: calc(536 / 640 * 100vw);/*536px;*/
    left: calc(28 / 640 * 100vw);/*28px*/;
  }

  .notify-sub1-text1 {
    width: calc(521 / 640 * 100vw);/*521px;*/
    position: absolute;
    top: calc(591 / 640 * 100vw);/*591px;*/
    left:calc(27 / 640 * 100vw);/*27px*/;
  }

  .notify-sub1-text2 {
    width: calc(580 / 640 * 100vw);/*580px*/
    position: absolute;
    top: calc(675 / 640 * 100vw);/*675px;*/
    left: calc(29 / 640 * 100vw);/*29px*/
    z-index: 100;
  }

  .notify-sub1-text3 {
    width: calc(590 / 640 * 100vw);/*590px*/
    position: absolute;
    top: calc(766 / 640 * 100vw);/*766px;*/
    left: calc(24 / 640 * 100vw);/*24px*/
  }

  .notify-sub1-border {
    width: calc(389 / 640 * 100vw);/*389px*/
    position: absolute;
    top: calc(73 / 640 * 100vw);/*680px;*/
    left: calc(211 / 640 * 100vw);/*211px*/
  }

  .notify-sub2 {
    width: calc(586 / 640 * 100vw);/*586px*/;
    position: absolute;
    top: calc(1096 / 640 * 100vw);/*1096px;*/
    left: calc(28 / 640 * 100vw);/*28px*/;
  }

  .notify-sub3 {
    width: calc(127 / 640 * 100vw);/*127px;*/
    position: absolute;
    top: calc(1296 / 640 * 100vw);/*1296px;*/
    left: calc(28 / 640 * 100vw);/*28px*/;
  }

  .notify-sub3-text1 {
    width: calc(334 / 640 * 100vw);/*334px;*/
    position: absolute;
    top: calc(1352 / 640 * 100vw);/*1352px;*/
    left: calc(31 / 640 * 100vw);/*31px;*/
  }

  .notify-sub3-text2 {
    width: calc(224 / 640 * 100vw);/*224px;*/
    position: absolute;
    top: calc(1428 / 640 * 100vw);/*1428px;*/
    left: calc(29 / 640 * 100vw);/*29px*/
  }

  .notify-sub3-text3 {
    width: calc(233 / 640 * 100vw);/*233px;*/
    position: absolute;
    top: calc(1562 / 640 * 100vw);/*1562px;*/
    left: calc(30 / 640 * 100vw);/*30px*/
  }

  /*movie*/
  .movie {
    height: calc(518 / 640 * 100vw);/*518px;*/;
    background-color: white;
    position: relative;
  }

  .movie-url {
    text-align: center;
  }

  .movie-url iframe {
    margin-top: calc(30 / 640 * 100vw);/*30px*/
  }

  .movie-title {
    width: calc(258 / 640 * 100vw);/*258px;*/
    position: absolute;
    top: calc(377 / 640 * 100vw);/*377px;*/
    left: calc(28 / 640 * 100vw);/*28px*/;
  }

  .movie-title-name {
    width: calc(173 / 640 * 100vw);/*173px;*/
    position: absolute;
    top: calc(378 / 640 * 100vw);/*379px;*/
    left: calc(300 / 640 * 100vw);/*300px;*/
  }

  .movie-name {
    width: calc(519 / 640 * 100vw);/*519px;*/
    position: absolute;
    top: calc(439 / 640 * 100vw);/*439px;*/
    left: calc(29 / 640 * 100vw);/*29px*/
  }

  .detail {
    width: calc(640 / 640 * 100vw);/*640px;*/
    height: calc(671 / 640 * 100vw);/*671px;*/
    background-color: #67c2c5;
    position: relative;
  }

  .detail-text1 {
    width:  calc(260 / 640 * 100vw);/*260px*/;
    position: absolute;
    left: calc(29 / 640 * 100vw);/*29px*/
    top: calc(76 / 640 * 100vw);/*76px;*/
  }

  .detail-text2 {
    width: calc(293 / 640 * 100vw);/*293px;*/
    position: absolute;
    left: calc(30 / 640 * 100vw);/*30px*/
    top: calc(147 / 640 * 100vw);/*147px;*/
  }

  .detail-pic1-text {
    width: calc(165 / 640 * 100vw);/*165px;*/
    position: absolute;
    left: calc(81 / 640 * 100vw);/*81px;*/
    top: calc(239 / 640 * 100vw);/*239px;*/
  }

  .detail-pic2-text {
    width: calc(158 / 640 * 100vw);/*158px;*/
    position: absolute;
    left: calc(400 / 640 * 100vw);/*400px;*/
    top: calc(56 / 640 * 100vw);/*56px;*/
  }

  .detail-pic3-text {
    width: calc(109 / 640 * 100vw);/*109px;*/
    position: absolute;
    left: calc(421 / 640 * 100vw);/*421px;*/
    top: calc(399 / 640 * 100vw);/*399px;*/
  }

  .detail-pic1 {
    width: calc(202 / 640 * 100vw);/*202px;*/
    position: absolute;
    left: calc(42/ 640 * 100vw);/*42px*/
    top: calc(295 / 640 * 100vw);/*295px;*/
    z-index: 5;
  }

  .detail-pic2 {
    width: calc(215 / 640 * 100vw);/*215px;*/
    position: absolute;
    left: calc(372 / 640 * 100vw);/*372px;*/
    top: calc(134 / 640 * 100vw);/*134px;*/
    z-index: 5;
  }

  .detail-pic3 {
    width: calc(170 / 640 * 100vw);/*170px;*/
    position: absolute;
    left: calc(385 / 640 * 100vw);/*385px;*/
    top: calc(459 / 640 * 100vw);/*459px;*/
    z-index: 5;
  }

  .detail-arrow1 {
    width: calc(84 / 640 * 100vw);/*84px;*/
    position: absolute;
    left: calc(269 / 640 * 100vw);/*269px;*/
    top: calc(216 / 640 * 100vw);/*216px;*/
  }

  .detail-arrow2 {
    width: calc(40 / 640 * 100vw);/*40px;*/
    position: absolute;
    left: calc(456 / 640 * 100vw);/*456px;*/
    top: calc(270 / 640 * 100vw);/*270px;*/
  }

  .detail-pic1-circle {
    width:  calc(260 / 640 * 100vw);/*260px*/;
    position: absolute;
    left: calc(30 / 640 * 100vw);/*30px*/
    top: calc(203 / 640 * 100vw);/*203px;*/
  }

  .detail-pic2-circle {
    width:  calc(260 / 640 * 100vw);/*260px*/;
    position: absolute;
    left: calc(347 / 640 * 100vw);/*347px;*/
    top: calc(29 / 640 * 100vw);/*29px*/
  }

  .detail-pic3-circle {
    width:  calc(260 / 640 * 100vw);/*260px*/;
    position: absolute;
    left: calc(345 / 640 * 100vw);/*345px;*/
    top: calc(367 / 640 * 100vw);/*367px;*/
  }

  .detail-text3 {
    width: calc(290 / 640 * 100vw);/*290px*/
    position: absolute;
    left: calc(30 / 640 * 100vw);/*30px*/
    top: calc(486 / 640 * 100vw);/*486px;*/
  }

  .detail-text4 {
    width: calc(290 / 640 * 100vw);/*290px*/
    position: absolute;
    left: calc(30 / 640 * 100vw);/*30px*/
    top: calc(538 / 640 * 100vw);/*538px;*/
  }

  .detail-text5 {
    width: calc(290 / 640 * 100vw);/*290px*/
    position: absolute;
    left: calc(30 / 640 * 100vw);/*30px*/
    top: calc(589 / 640 * 100vw);/*589px;*/
  }

  /*result*/
  .result {
    position: relative;
    height: calc(1851 / 640 * 100vw);/* 1851px;*/
  }
  .result1 {
    position: relative;
    top:0px;
  }
  .result2 {
    position: relative;
    top:calc(400 / 640 * 100vw);
  }
  .result3 {
    position: relative;
    top:calc(800 / 640 * 100vw);
  }
  .result4 {
    position: relative;
    top:calc(1200 / 640 * 100vw);
  }
  .result-title1 {
    width: calc(555 / 640 * 100vw);/*555px*/
    position: absolute;
    left:calc(39 / 640 * 100vw);/*39px*/
    top: calc(35 / 640 * 100vw);/*35px;*/
  }
  .result-title2{
      width: calc(577 / 640 * 100vw);/*577px;*/
      position: absolute;
      left: calc(32 / 640 * 100vw);/*32px;*/
      top: calc(96 / 640 * 100vw);/*96px;*/
  }
  .result-title3{
      width: calc(512 / 640 * 100vw);/*512px;*/
      position: absolute;
      left: calc(61 / 640 * 100vw);/*61px;*/
      top: calc(174 / 640 * 100vw);/*174px;*/
  }
  .result-main1-grid {
    width: calc(586 / 640 * 100vw);/*586px*/;
    position: absolute;
    left: calc(29 / 640 * 100vw);/*29px*/
    top: calc(237 / 640 * 100vw);/*237px;*/
  }

  .result-main1-text {
    width: calc(161 / 640 * 100vw);/*161px*/;
    position: absolute;
    left: calc(417 / 640 * 100vw);/*417px*/;
    top: calc(219 / 640 * 100vw);/*219px;*/
  }

  .result-main1-border {
    width: calc(546 / 640 * 100vw);/*546px*/;
    position: absolute;
    left: calc(45 / 640 * 100vw);/*45px*/;
    top: calc(288 / 640 * 100vw);/*288px;*/
  }

  .result-main1-before {
    width: calc(120 / 640 * 100vw);/*120px*/;
    position: absolute;
    left: calc(198 / 640 * 100vw);/*198px;*/
    top: calc(530 / 640 * 100vw);/*530px*/
    z-index: 10;
  }

  .result-main1-after {
    width: calc(94 / 640 * 100vw);/*94px*/;
    position: absolute;
    left: calc(493 / 640 * 100vw);/*493px*/;
    top: calc(537 / 640 * 100vw);/*537px;*/
    z-index: 10;
  }

  .result-main1-arrow {
    width: calc(14 / 640 * 100vw);/*14px;*/
    position: absolute;
    left: calc(310 / 640 * 100vw);/*310px;*/
    top: calc(441 / 640 * 100vw);/*441px;*/
  }

  .result-main1-title {
    width: calc(346 / 640 * 100vw);/*346px;*/
    position: absolute;
    left: calc(48 / 640 * 100vw);/*48px;*/
    top: calc(262 / 640 * 100vw);/*262px;*/
  }

  .result-main1-pic1 {
    width: calc(260 / 640 * 100vw);/*260px*/;
    position: absolute;
    left: calc(45 / 640 * 100vw);/*45px*/;
    top: calc(324 / 640 * 100vw);/*324px;*/
  }

  .result-main1-pic2 {
    width: calc(30 / 640 * 100vw);/*30px*/
    overflow: hidden;
    position: absolute;
    left: calc(175 / 640 * 100vw);/*175px*/;
    top: calc(324 / 640 * 100vw);/*324px;*/
  }

  .result-main1-pic2 img {
    width: calc(260 / 640 * 100vw);/*260px*/;
    overflow: hidden;
  }

  .result-main1-pic3 {
    width: calc(130 / 640 * 100vw);/*130px*/
    overflow: hidden;
    position: absolute;
    left: calc(330 / 640 * 100vw);/*330px*/
    top: calc(324 / 640 * 100vw);/*324px;*/
  }

  .result-main1-pic3 img {
    width: calc(260 / 640 * 100vw);/*260px*/;
    overflow: hidden;
    transform: translateX(calc(-130 / 640 * 100vw));
  }

  .result-main1-pic4 {
    width: calc(130 / 640 * 100vw);/*130px*/
    overflow: hidden;
    position: absolute;
    left: calc(460 / 640 * 100vw);/*460px*/;
    top: calc(324 / 640 * 100vw);/*324px;*/
  }

  .result-main1-pic4 img {
    width: calc(260 / 640 * 100vw);/*260px*/;
    overflow: hidden;
    transform: translateX(calc(-130 / 640 * 100vw));
  }
  /*cv*/
  .cvsection {
    height: calc(268 / 640 * 100vw);/*268px*/;
    position: relative;
    background-color: #67c2c5;
  }

  .cv4 {
    width: calc(636 / 640 * 100vw);/*636px;*/
    position: absolute;
    left: calc(-20 / 640 * 100vw);/*-20px;*/
    top: calc(2 / 640 * 100vw);/*2px;*/
    z-index: 10;
  }

  .cv_a4 {
    width: calc(581 / 640 * 100vw);/*581px*/;
    top: calc(181 / 640 * 100vw);/*181px;*/
    left: calc(31 / 640 * 100vw);/*31px;*/
    position: absolute;
  }

  .cv-text4 {
    width: calc(510 / 640 * 100vw);/*510px*/
    position: absolute;
    left: calc(92 / 640 * 100vw);/*92px*/;
    top: calc(233 / 640 * 100vw);/*243px;*/
  }

 /*footer*/
  footer {
    text-align: left;
    margin: 2em 0 0 0;
    color: white;
    height: calc(100 / 640 * 100vw);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #67c2c5;
    font-size: 0.8em;
  }

}