@charset "UTF-8";

body{
    font-family: 'Noto Sans JP', sans-serif;
}
.a{
    color: blue;
    text-decoration: underline;
}
.flex{
    display: flex;
    align-items: center;
}
.textcenter{
    text-align: center;
}
.yellow{
    color: #FFFF00;
}
.bg-green{
    background-color: #67c2c5;
}
.color-red{
    color:red;
}
.container{
    width:640px;
    margin:auto;
}

header{
    height: 715px;
}
.header-title .span::after{
    content: "";
    width: 90%;
    height: 5px;
    background-color: #67c2c5;
    display: block;
    position: absolute;
    right:5%

}
.header-wrap{
    background-image: url("../img/lpmainback.png");
    background-size:100%;
    position: relative;
    background-position:0px -40px;
    width: 640px;
    height: 715px;
}

.header-main{
    width: 301px;
    position: absolute;
}
.name{
    position: absolute;
    top: 335.5px;
    left:398.5px;
    color:black
}
.header-part{
    text-align:center;
    position: absolute;
    left: 20px;
    top: 504px;
    width: 393px;
}
.header-fhoto{
    position: absolute;
    top: 532px;
    left: 358px;
    width: 308px;
    z-index: 100;
}
/*intro*/
.intro{
    background-color: #67c2c5;
    width: 640px;
    height: 3685px;
    position: relative;
}
.intro-first-title{
    width: 378px;
    position: absolute;
    top: 32px;
    left: 28px;
}
.cv{
    width: 630px;
    top: 80px;
    left: -20px;
    position: absolute;
    z-index: 10;    
}
.cv_a{
    width: 577px;
    top: 258px;
    left: 29px;
    position: absolute;

}
.cv-text{
    width: 324px;
    position: relative;
    left: 279px;
}

.intro-first-grid{
    position:absolute;
    width: 541px;
    top: 412px;
    left: 51px;
}
.intro-first-bar{
    position:absolute;
    width: 536px;
    top: 388px;
    left: 69px;
    z-index: 5;
}
.intro-first-sub-title{
    width: 264px;
    position:absolute;
    top: 389px;
    left: 81px;
    z-index: 10;
}
.border{
    width: 658px;
    position: absolute;
    top: 886px;
    left: -4px;
    overflow: hidden;
}
.intro-first-sub-com1{
    width: 251px;
    position: absolute;
    top: 415px;
    left: 352px;
    z-index: 10;
}
.intro-first-sub-com2{
    width: 398px;
    position: absolute;
    left: 31px;
    top: 482px;
}
.intro-first-sub-com3{
    width: 486px;
    position: absolute;
    left: 80px;
    top: 552px;
}
.intro-first-sub-img{
    position: absolute;
    width: 281px;
    height: 289px;
    top: 607px;
    left: 0.31px;
    transform: scaleX(-1);
    overflow: hidden;
    
}
.intro-first-sub-img img{
    width: 480px;
    overflow: hidden;
    transform: translate(-90px ,-95px);
}
.intro-first-sub-text1{
    width: 452px;
    position: absolute;
    left: 158px;
    top: 620px;
}
.intro-first-sub-text2{
    width: 246px;
    position: absolute;
    left: 266px;
    top: 733px;
}
.intro-first-sub-text3{
    width: 105px;
    position: absolute;
    left: 521px;
    top: 714px;
}
.intro-first-sub-text4{
    width: 343px;
    position: absolute;
    left: 256px;
    top: 840px;
}
.intro-second-title{
    position: absolute;
    top: 943px;
    left: 29px;
    width: 584px;
}
.intro-second-text1{
    position: absolute;
    top: 1038px;
    left: 29px;
    width: 557px;
}
.intro-second-text2{
    position: absolute;
    top: 1237px;
    left: 29px;
}
.intro-second-text3{
    position: absolute;
    top: 1405px;
    left: 29px;
}
.intro-second-detail{
    position: absolute;
    top: 1544px;
    left: 29px;
}
.intro-third-bg{
    width: 580px;
    position: absolute;
    top: 1947px;
    left: 29px;
}
.intro-third-title1{
    width: 483px;
    position: absolute;
    top: 1975px;
    left: 50px;
}
.intro-third-title2{
    width: 442px;
    position: absolute;
    top: 2021px;
    left: 47px;
}
.intro-third-text1{
    width: 272px;
    position: absolute;
    top: 2104px;
    left: 42px;
}
.intro-third-text2{
    width: 212px;
    position: absolute;
    top: 2185px;
    left: 42px;
}
.cv2{
    width: 340px;
    position: absolute;
    top: 2270px;
    left: 46px;

}
.cv2{
    width: 340px;
    top: 2270px;
    left: 47px;
    position: absolute;
}

.cv-text2{
    width: 291px;
    position: absolute;
    top: 2351px;
    left: 47px;
}
.intro-forth-bg{
    height: 499px;
    position: absolute;
    top: 2445px;
    left: 29px;
    overflow: hidden;
}
.intro-forth-bg img{
    object-fit: cover;
    height: 499px;
    width: 580px;
    transform: translate(0,3px);
}
.intro-forth-title1{
    width: 495px;
    position: absolute;
    top: 2465px;
    left: 85px;
    z-index: 100;
}
.intro-forth-title-border{
    width: 512px;
    position: absolute;
    top: 2479px;
    left: 78px;
}
.intro-forth-title2{
    width: 317px;
    position: absolute;
    top: 2500px;
    left: 267px;
}
.intro-forth-title3{
    width: 367px;
    position: absolute;
    top: 2551px;
    left: 218px;
}
.intro-forth-title4{
    width: 108px;
    position: absolute;
    top: 2600px;
    left: 475px;
}
.intro-forth-title5{
    width: 379px;
    position: absolute;
    top: 2620px;
    left: 199px;
}
.intro-forth-title6{
    width: 336px;
    position: absolute;
    top: 2693px;
    left: 244px;
}
.intro-forth-title7{
    width: 290px;
    position: absolute;
    top: 2776px;
    left: 291px;
}
.intro-forth-title8{
    width: 356px;
    position: absolute;
    top: 2861px;
    left: 227px;
}
.intro-fifth-grid{
    width: 580px;
    position: absolute;
    top: 2968px;
    left: 29px;
}
.intro-fifth-title{
    width: 476px;
    position: absolute;
    top: 3002px;
    left: 82px;
}
.intro-fifth-text1{
    width: 451px;
    position: absolute;
    top: 3058px;
    left: 95px;
}
.intro-fifth-text2{
    width: 242px;
    position: absolute;
    top: 3191px;
    left: 199px;
}
.intro-fifth-text3{
    width: 510px;
    position: absolute;
    top: 3257px;
    left: 66px;
}
.cv3{
    width: 636px;
    top: 3393px;
    left: -20px;
    position: absolute;
    z-index: 10;
}
.cv_a3{
    width: 581px;
    top: 3572px;
    left: 31px;
    position: absolute;
}
.cv-text3{
    width: 509px;
    position: absolute;
    top: 3637px;
    left: 92px;
}
/*notify*/
.notify{
    background-color: #f0dec8;
    height: 1654px;
    position: relative;
}
.notify-bg{
    top: 1106px;
    left: -0.5px;
    height: 585px;
    position: absolute;
    overflow: hidden;
}
.notify-bg img{
    height: 548px;
    transform: scale(1.2) translate(30px,80px);
    object-fit: cover;
}
.notify-yellow1{
    width: 122px;
    position: absolute;
    top: 212px;
    left: 37px;
}
.notify-yellow2{
    width: 73px;
    position: absolute;
    top: 212px;
    left: 186px;
}

.notify-title1{
    width: 557px;
    position: absolute;
    top: 44px;
    left: 39px;
    z-index: 10;
}
.notify-title2{
    width: 420px;
    position: absolute;
    top: 101px;
    left: 40px;
}
.notify-img{
    width: 171px;
    position: absolute;
    top: 98px;
    left: 458px;
    z-index: 5;
}

.notify-title8{
    z-index: 5;
    width: 214px;
    position: absolute;
    top: 271px;
    left: 42px;
}
.notify-title9{
    z-index: 5;
    width: 553px;
    position: absolute;
    top: 302px;
    left: 42px;
}
.notify-title4{
    width: 362px;
    position: absolute;
    top: 380px;
    left: 134px;
}
.notify-title5{
    width: 581px;
    position: absolute;
    top: 419px;
    left: 29px;
}
.notify-border1{
    width: 545px;
    position: absolute;
    top: 237px;
    left: 42px;
}
.notify-grid{
    width: 583px;
    position: absolute;
    top: 33px;
    left: 27px;
}
.notify-grid2{
    width: 583px;
    position: absolute;
    top: 33px;
    left: 27px;
}
.notify-sub1{
    width: 127px;
    position: absolute;
    top: 536px;
    left: 28px;
}
.notify-sub1-text1{
    width: 521px;
    position: absolute;
    top: 591px;
    left: 27px;
}
.notify-sub1-text2{
    width: 580px;
    position: absolute;
    top: 675px;
    left: 29px;
    z-index: 100;
}
.notify-sub1-text3{
    width: 590px;
    position: absolute;
    top: 766px;
    left: 24px;
}
.notify-sub1-border{
    width: 389px;
    position: absolute;
    top: 680px;
    left: 211px;
}
.notify-sub2{
    width: 586px;
    position: absolute;
    top: 1096px;
    left: 28px;
}

.notify-sub3{
    width: 127px;
    position: absolute;
    top: 1296px;
    left: 28px;
}
.notify-sub3-text1{
    width: 334px;
    position: absolute;
    top: 1352px;
    left: 31px;
}
.notify-sub3-text2{
    width: 224px;
    position: absolute;
    top: 1428px;
    left: 29px;
}
.notify-sub3-text3{
    width: 233px;
    position: absolute;
    top: 1562px;
    left: 30px;
}
/*movie*/
.movie{
    height: 518px;
    background-color: white;
    position: relative;
}
.movie-url{
    text-align: center;
}
.movie-url iframe{
    margin-top: 30px;
}
.movie-title{
    width: 258px;
    position: absolute;
    top: 377px;
    left: 28px;
}
.movie-title-name{
    width: 173px;
    position: absolute;
    top: 379px;
    left: 300px;
}
.movie-name{
    width: 519px;
    position: absolute;
    top: 439px;
    left: 29px;
}
.detail{
    width: 640px;
    height: 671px;
    background-color: #67c2c5;
    position: relative;
}
.detail-text1{
    width: 260px;
    position: absolute;
    left: 29px;
    top: 76px;
}
.detail-text2{
    width: 293px;
    position: absolute;
    left: 30px;
    top: 147px;    
}
.detail-pic1-text{
    width: 165px;
    position: absolute;
    left: 81px;
    top: 239px;
}
.detail-pic2-text{
    width: 158px;
    position: absolute;
    left: 400px;
    top: 56px;    
}
.detail-pic3-text{
    width: 109px;
    position: absolute;
    left: 421px;
    top: 399px;    
}
.detail-pic1{
    width: 202px;
    position: absolute;
    left: 42px;
    top: 295px;
    z-index: 5;
}
.detail-pic2{
    width: 215px;
    position: absolute;
    left: 372px;
    top: 134px;
    z-index: 5;
}
.detail-pic3{
    width: 170px;
    position: absolute;
    left: 385px;
    top: 459px;
    z-index: 5;
}
.detail-arrow1{
    width: 84px;
    position: absolute;
    left: 269px;
    top: 216px;
}
.detail-arrow2{
    width: 40px;
    position: absolute;
    left: 456px;
    top: 270px;
}
.detail-pic1-circle{
    width: 260px;
    position: absolute;
    left: 30px;
    top: 203px;
}
.detail-pic2-circle{
    width: 260px;
    position: absolute;
    left: 347px;
    top: 29px;
}
.detail-pic3-circle{
    width: 260px;
    position: absolute;
    left: 345px;
    top: 367px;
}
.detail-text3{
    width: 290px;
    position: absolute;
    left: 30px;
    top: 486px;
 }
 .detail-text4{
    width: 290px;
    position: absolute;
    left: 30px;
    top: 538px;
 }
 .detail-text5{
    width: 290px;
    position: absolute;
    left: 30px;
    top: 589px;
 }
 /*result*/
.result{
    position: relative;
    height: 1851px;
}
.result-title1{
    width: 555px;
    position: absolute;
    left: 39px;
    top: 35px;
}
.result-title2{
    width: 577px;
    position: absolute;
    left: 32px;
    top: 96px;
}
.result-title3{
    width: 512px;
    position: absolute;
    left: 61px;
    top: 174px;
}
.result-main1-grid{
    width: 586px;
    position: absolute;
    left: 29px;
    top: 237px;
}
.result-main1-text{
    width: 161px;
    position: absolute;
    left: 417px;
    top: 219px;
}
.result-main1-border{
    width: 546px;
    position: absolute;
    left: 45px;
    top: 288px;
}
.result-main1-before{
    width: 120px;
    position: absolute;
    left: 198px;
    top: 530px;
    z-index: 10;
}
.result-main1-after{
    width: 94px;
    position: absolute;
    left: 493px;
    top: 537px;
    z-index: 10;
}
.result-main1-arrow{
    width: 14px;
    position: absolute;
    left: 310px;
    top: 441px;
}
.result-main1-title{
    width: 346px;
    position: absolute;
    left: 48px;
    top: 262px;
}
.result-main1-pic1{
    width: 260px;
    position: absolute;
    left: 45px;
    top: 324px;
}
.result-main1-pic2{
    width: 130px;
    overflow: hidden;
    position: absolute;
    left: 175px;
    top: 324px;
}
.result-main1-pic2 img{
    width: 260px;
    overflow: hidden;
}
.result-main1-pic3{
    width: 130px;
    overflow: hidden;
    position: absolute;
    left: 330px;
    top: 324px;
}
.result-main1-pic3 img{
    width: 260px;
    overflow: hidden;
    transform: translateX(-130px);
}
.result-main1-pic4{
    width: 130px;
    overflow: hidden;
    position: absolute;
    left: 460px;
    top: 324px;
}
.result-main1-pic4 img{
    width: 260px;
    overflow: hidden;
    transform: translateX(-130px);
}
.result-main2-grid{
    width: 589px;
    position: absolute;
    left: 29px;
    top: 638px;
}
.result-main2-text{
    width: 161px;
    position: absolute;
    left: 417px;
    top: 620px;
}
.result-main2-border{
    width: 546px;
    position: absolute;
    left: 45px;
    top: 689px;
}
.result-main2-before{
    width: 120px;
    position: absolute;
    left: 199px;
    top: 932px;
    z-index: 10;
}
.result-main2-after{
    width: 94px;
    position: absolute;
    left: 493px;
    top: 938px;
    z-index: 10;
}
.result-main2-arrow{
    width: 14px;
    position: absolute;
    left: 310px;
    top: 842px;
}
.result-main2-title{
    width: 346px;
    position: absolute;
    left: 47px;
    top: 663px;
}
.result-main2-pic1{
    width: 260px;
    position: absolute;
    left: 45px;
    top: 725px;
}
.result-main2-pic2{
    width: 130px;
    overflow: hidden;
    position: absolute;
    left: 175px;
    top: 725px;
}
.result-main2-pic2 img{
    width: 260px;
    overflow: hidden;
}
.result-main2-pic3{
    width: 130px;
    overflow: hidden;
    position: absolute;
    left: 330px;
    top: 725px;
}
.result-main2-pic3 img{
    width: 260px;
    overflow: hidden;
    transform: translateX(-130px);
}
.result-main2-pic4{
    width: 130px;
    overflow: hidden;
    position: absolute;
    left: 460px;
    top: 725px;
}
.result-main2-pic4 img{
    width: 260px;
    overflow: hidden;
    transform: translateX(-130px);
}
.result-main3-grid{
    width: 586px;
    position: absolute;
    left: 30px;
    top: 1038px;
}
.result-main3-text{
    width: 161px;
    position: absolute;
    left: 417px;
    top: 1021px;
}
.result-main3-border{
    width: 546px;
    position: absolute;
    left: 45px;
    top: 1090px;
}
.result-main3-before{
    width: 120px;
    position: absolute;
    left: 199px;
    top: 1333px;
    z-index: 10;
}
.result-main3-after{
    width: 94px;
    position: absolute;
    left: 493px;
    top: 1339px;
    z-index: 10;
}
.result-main3-arrow{
    width: 14px;
    position: absolute;
    left: 310px;
    top: 1243px;
}
.result-main3-title{
    width: 313px;
    position: absolute;
    left: 49px;
    top: 1065px;
}
.result-main3-pic1{
    width: 260px;
    position: absolute;
    left: 45px;
    top: 1126px;
}
.result-main3-pic2{
    width: 130px;
    overflow: hidden;
    position: absolute;
    left: 175px;
    top: 1126px;
}
.result-main3-pic2 img{
    width: 260px;
    overflow: hidden;
}
.result-main3-pic3{
    width: 130px;
    overflow: hidden;
    position: absolute;
    left: 330px;
    top: 1126px;
}
.result-main3-pic3 img{
    width: 260px;
    overflow: hidden;
    transform: translateX(-130px);
}
.result-main3-pic4{
    width: 130px;
    overflow: hidden;
    position: absolute;
    left: 460px;
    top: 1126px;
}
.result-main3-pic4 img{
    width: 260px;
    overflow: hidden;
    transform: translateX(-130px);
}
.result-main4-grid{
    width: 586px;
    position: absolute;
    left: 29px;
    top: 1440px;
}
.result-main4-text{
    width: 161px;
    position: absolute;
    left: 417px;
    top: 1422px;
}
.result-main4-border{
    width: 546px;
    position: absolute;
    left: 45px;
    top: 1491px;
}
.result-main4-before{
    width: 120px;
    position: absolute;
    left: 199px;
    top: 1733px;
    z-index: 10;
}
.result-main4-after{
    width: 94px;
    position: absolute;
    left: 493px;
    top: 1740px;
    z-index: 10;
}
.result-main4-arrow{
    width: 14px;
    position: absolute;
    left: 310px;
    top: 1644px;
}
.result-main4-title{
    width: 314px;
    position: absolute;
    left: 49px;
    top: 1466px;
}
.result-main4-pic1{
    width: 260px;
    position: absolute;
    left: 45px;
    top: 1527px;
}
.result-main4-pic2{
    width: 130px;
    overflow: hidden;
    position: absolute;
    left: 175px;
    top: 1527px;
}
.result-main4-pic2 img{
    width: 260px;
    overflow: hidden;
}
.result-main4-pic3{
    width: 130px;
    overflow: hidden;
    position: absolute;
    left: 330px;
    top: 1527px;
}
.result-main4-pic3 img{
    width: 260px;
    overflow: hidden;
    transform: translateX(-130px);
}
.result-main4-pic4{
    width: 130px;
    overflow: hidden;
    position: absolute;
    left: 460px;
    top: 1527px;
}
.result-main4-pic4 img{
    width: 260px;
    overflow: hidden;
    transform: translateX(-130px);
}
/*footer*/
footer{
    height: 100%;
    background-color: #67c2c5;
}
/*cv*/
.cvsection{
    height: 268px;
    position: relative;
    background-color: #67c2c5;
}
.cv4{
    width: 636px;
    position: absolute;
    left: -20px;
    top: 2px;
    z-index: 10;
}
.cv_a4{
    width: 581px;
    top: 181px;
    left: 31px;
    position: absolute;
}
.cv-text4{
    width: 510px;
    position: absolute;
    left: 92px;
    top: 243px;
}
/*footer*/
footer {
    text-align: left;
    margin: 2em 0 0 0;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
footer a{
    margin: 1em;

}
table th, table td {
    font-size: 11.2px;
    color: #333;
    padding: 1em;
    border: #DDD 1px solid;
    line-height: 1.5em;
    font-weight: normal;
}
table th{
    border: #DDD 1px solid; 
}
table td{
    border: #DDD 1px solid;
}
td img{
    width:80%;
}
.footer-low h2    {
    padding: 0.3em;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 14.4px;
}
.footer-low h3, h4 {
    padding: 0.2em;
    margin-bottom: 0.3em;
    font-weight: bold;
    font-size: 12.8px;
}
.footer-low-text{
    padding-bottom: 0.2em;
    margin-bottom: 0.3em;
}
.footer-company-detail h2    {
    padding: 0.3em;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 14.4px;
}
.footer-company-detail h3, h4 {
    padding: 0.2em;
    margin-bottom: 0.3em;
    font-weight: bold;
    font-size: 12.8px;
}
.footer-privacy{
    padding-bottom: 0.2em;
    margin-bottom: 0.3em;
}
.footer-company-detail h2    {
    padding: 0.3em;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 14.4px;
}
.footer-privacy  p {
    margin-bottom: 1em;
    line-height: 1.5em;
    font-size: 12px;
}
.footer-privacy h2    {
    padding: 0.3em;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 14.4px;
}
.footer-privacy h3, h4 {
    padding: 0.2em;
    margin-bottom: 0.3em;
    font-weight: bold;
    font-size: 12.8px;
}
table {
    margin-bottom: 1em;
    border-collapse: collapse;
    border-spacing: 0;
    
}
table th{ background: #EEE; }